form input{
 color:blue;
}

div input{
 color:green;
}
@keyframes animar{
 from{
   background-color:yellow;
   width: 50px;
 }
 to{
   background-color: red;
   width: 200px;
 }
}

input[type="submit"]{
 //animation-name: animar;
 //animation-duration: 2s;
 //animation-iteration-count: infinite;
}
